/* Navbar.css */

.navbar {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-logo:hover {
  color: #ddd;
}

.d-flex {
  display: flex;
  align-items: center;
}

.me-2 {
  margin-right: 0.5rem;
}

.form-control {
  width: 200px;
  border-radius: 0.25rem;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Responsive Styles */

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .navbar-logo {
    margin-bottom: 1rem;
  }
  
  .form-control {
    width: 100%;
  }
}