/* Navbar.css */
*{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.navbar {
  background-image: url("../Images/navbar.jpg");
  color: #fff;
  padding: 1rem;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  color: #6b6986ac;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-logo:hover {
  color: #ddd;
}

.d-flex {
  display: flex;
  align-items: center;
}

.me-2 {
  margin-right: 0.5rem;
}

form input{
  border-radius: 25px;
width: 250px;
height: 2.2rem;
}
 form input :focus{
  width: 400px;
}
/* Responsive Styles */

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .navbar-logo {
    margin-bottom: 1rem;
  }
  
  .form-control {
    width: 100%;
  }
}